@import "_variable";

.main{
    // 共同
    width: 100%;
    padding-left: 329px;
    margin-left: 64px;
    align-items: center;
    display: flex;
    a{
        font-size: $font-3;
        margin-right: 8px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    a:hover{
        color: $primary;
    }
    // 橫幅(左邊)
    .banner-start{
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        h1{
            font-size: $font-4;
            margin-right: 48px;
            font-weight: bold;
        }
    }
    // 橫幅(右邊)
    .banner-end{
        i{
            margin-right: 24px;
        }
    }

    // 主要內容
    .container{
        h4 , small{
            font-size: $font-1;
            font-weight: lighter;
        }
        h3{
            font-size: $font-3;
            font-weight: bold;
        }
        .btn{
            font-size: $font-3;
        }
        .text-success{
            color: $primary;
        }
        .button{
            font-weight: bold;
            
        }
    }
        

}