@import "_variable";

.sidebar{
    //menu
    position: fixed;
    padding-top: 32px;
    width: 296px;
    height: 100%;
    background-color: $bgc;
    .logo{
        padding-left: 32px;
        padding-bottom: 32px;
    }
    a{
        display: block;
        margin-bottom: 26px;
        color: $base;
        width: 100%;
        height: 29px;
        padding-left: 32px;
        font-family: $lato;
        font-weight: bold;
        font-size: $font-3;
        text-decoration: none;
        border-left: 4px solid transparent;
        box-sizing: border-box;
    }
    a:hover, a:active{
        border-left: 4px solid $primary;
        color: $primary;
    }

    //writer
    .writer{
        display: flex;
        padding-left: 32px;
        position: absolute;
        bottom: 5%;
        // .photo{
        //     display: flex;
        //     align-items: center;
        //     margin-right: 16px;
        //     img{
        //         border-radius: 50%;
        //         height: 40px;
        //         width: 40px;
        //     }
        // }
        h2{
            font-size: $font-3;
        }
        h3{
            font-size: $font-2;
        }
    }  
}