// 顏色
$bgc: #F8F9FA; //gray-100
$base: #212529; //gray-900
$primary: #198754; //succese
$secondary: #6C757D; //gray-600

//字體大小
$font-1: 12px;
$font-2: 14px;
$font-3: 16px;
$font-4: 24px;

//字體樣式
$lato: 'Lato', sans-serif;


